.card {
  all: unset;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  width: 300px;
  padding-bottom: 10px;
  position: relative;

  .status {
    all: unset;
    position: absolute;
    top: 20px;
    right: 20px;
    color: #ffc01e;
    font-weight: 700;
    font-size: 0.9em;
    background-color: #fff3d2;
    padding: 5px 15px;
    line-height: 1em;
    border-radius: 50px;
  }

  .card_image_container {
    width: 100%;
    img {
      width: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }

  .card_talk {
    padding: 10px 30px;

    .title_container {
      display: flex;
      justify-content: space-between;

      button {
        all: unset;
        cursor: pointer;
        background-color: #009153;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        border-radius: 3px;
      }
    }

    .progress {
      margin-top: 10px;
      margin-bottom: 15px;

      progress {
        -webkit-appearance: none;
        appearance: none;
        height: 8px;
        width: 100%;
        position: relative;
        &::-webkit-progress-bar {
          background-color: #e5fff4;
          border: 1px solid #009153;
          border-radius: 100px;
        }

        &::-webkit-progress-value {
          position: absolute;
          top: 0;
          background-color: #009153;
          border: none;
          border-radius: 100px;
        }
      }

      .progress_status {
        font-size: 0.7em;
        font-weight: 600;
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 50%;
        left: 50%;
      }
    }

    :global(.text-primary) {
      font-weight: 600;
      font-size: 1.2em;
      color: #00422e;
      line-height: 1em;
    }

    img {
      margin-top: 10px;
      margin-bottom: 15px;
    }

    .label {
      font-size: 1em;
      font-weight: 600;
    }

    .btn_group {
      margin-top: 10px;
      display: flex;
      gap: 10px;

      .btn {
        all: unset;
        padding: 1px 8px;
        border-radius: 50px;
        font-size: 0.8em;
      }

      .btn_blue {
        color: #fff;
        background-color: #0067df;
      }

      .btn_yellow {
        color: #000;
        background-color: #ffc01e;
      }

      .btn_green {
        color: #fff;
        background-color: #009153;
      }
    }
  }
}

@media screen and(max-width:400px) {
  .card .card_talk .btn_group :global(.btn) {
    padding: 1px 10px;
    font-size: 0.8em;
  }
}

@media screen and(max-width:800px) {
  .card .card_talk {
    :global(.text-primary) {
      font-size: 1.1em;
    }
  }
}
