.header {
  background-color: #f8fffc;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 80px;

  .image_container {
    height: 100%;
  }
  img {
    height: 100%;
  }
}
